#####################################################################
#   Homing Overrides
#####################################################################

[gcode_macro homing_variables]
variable_safe_home_x: 60
variable_safe_home_y: 93.401
variable_safe_home_feed: 12000
variable_x: False
variable_y: False
variable_z: False
variable_active_homed_z: 0.0
# Tracks the manual baby-stepping across tool changes
variable_last_user_tweak: 0.0
gcode:

[homing_override]
axes: xyz
gcode:
    {% set X, Y, Z = False, False, False %}
    {% if not 'X' in params and not 'Y' in params and not 'Z' in params %}
        {% set X, Y, Z = True, True, True %}
        SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=x VALUE=True
        SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=y VALUE=True
        SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=z VALUE=True
    {% else %}
        {% if 'X' in params %} SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=x VALUE=True {% endif %}
        {% if 'Y' in params %} SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=y VALUE=True {% endif %}
        {% if 'Z' in params %} SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=z VALUE=True {% endif %}
    {% endif %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
        INITIALIZE_TOOLCHANGER
    {% endif %}

    _HOMING_STUFF
    
    {% if printer["gcode_macro _sb_vars"] is defined %} STATUS_READY {% endif %}

[gcode_macro _HOMING_STUFF]
gcode: 
    {% set hv = printer["gcode_macro homing_variables"] %}
    {% set svf = printer.save_variables.variables %}
    
    {% if printer.toolchanger.tool_number|int == 0 %}
      {% if "xyz" not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z=0
        G1 Z10 F2000
      {% endif %}

      {% if hv.y %}
        {% set y_pos = printer.configfile.config.stepper_y.position_endstop|float - 30 %}
        G28 Y
        G0 Y{y_pos} F{hv.safe_home_feed}
      {% endif %}

      {% if hv.x %} G28 X {% endif %}

      {% if hv.z %}
        G0 X{hv.safe_home_x} Y{hv.safe_home_y} F{hv.safe_home_feed}
        
        # Reset user tweaks before homing
        SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=last_user_tweak VALUE=0.0
        
        G28 Z
        
        # Establish Baseline
        {% set base_val = svf.t0_probe_z_offset|default(0.0)|float %}
        SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=active_homed_z VALUE={base_val}
        
        RESPOND MSG="Homing: active_homed_z established as {base_val}"
        
        # Apply offsets for T0
        APPLY_TOOL_OFFSETS TOOL=0
      {% endif %}
      
      SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=x VALUE=False
      SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=y VALUE=False
      SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=z VALUE=False
    {% else %}
      RESPOND TYPE=error MSG="Homing must be performed with T0."
      M84
    {% endif %}
    