# Some macros in this file taken from: https://github.com/viesturz/klipper-toolchanger/blob/main/macros.cfg

#####################################################################
#  DOCK_SEQUENCE
#####################################################################

[gcode_macro DOCK_SEQUENCE]
description: Run a docking sequence for both tool heads, with number of times.
  Usage: DOCK_SEQUENCE REPS={x (default 10)} DELAY={time in seconds}
gcode:
  {% for i in range(0, params.REPS|default(10)|int)  %}
    T0
    G4 P{params.DELAY|default(1)|float * 1000.0}
    T1
    G4 P{params.DELAY|default(1)|float * 1000.0}
  {% endfor %}
  ## Leave T0 active last
  T0

#####################################################################
#   _TAP_PROBE_ACTIVATE
#####################################################################

[gcode_macro _TAP_PROBE_ACTIVATE]
description: Ensure safe temperature for bed probing
gcode:
    {% set max_temp = 170 %}
    {% set actual_temp = printer[params.HEATER].temperature %}
    {% set target_temp = printer[params.HEATER].target %}
    {% if target_temp > max_temp %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (target_temp, max_temp)) }
        SET_HEATER_TEMPERATURE HEATER={params.HEATER} TARGET={ max_temp|int - 5 }
    {% endif %}
    # Temperature target is already low enough, but nozzle may still be too hot.
    {% if actual_temp > max_temp  + 2 %}
        { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (actual_temp, max_temp)) }
        TEMPERATURE_WAIT SENSOR={params.HEATER} MAXIMUM={ max_temp }
    {% endif %}

#####################################################################
#   _WAIT_FOR_TEMP_WITHIN_TOLERANCE
#####################################################################

[gcode_macro _WAIT_FOR_TEMP_WITHIN_TOLERANCE]
description: Wait for temperature to get within tolerance
gcode:
    {% set tolerance = params.TOLERANCE | float  %}
    {% set actual = printer[params.HEATER].temperature | float %}
    {% set target = printer[params.HEATER].target | float %}
    {% if target != 0 and ((actual < (target - tolerance)) or (actual > (target + tolerance))) %}
        { action_respond_info('Extruder temperature %.1fC is not within %.1fC of %.1fC target; waiting...' % (actual, tolerance, target)) }
        RESPOND TYPE=echo MSG='TEMPERATURE_WAIT SENSOR={params.HEATER} MINIMUM={target - tolerance} MAXIMUM={target + tolerance}'
        TEMPERATURE_WAIT SENSOR={params.HEATER} MINIMUM={target - tolerance} MAXIMUM={target + tolerance}
    {% endif %}

#####################################################################
#   M104
#####################################################################

[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
      {% set newparameters = "" %}
      {% set newparameters = newparameters ~ " T="~params.T %}
      {% if params.S is defined %}
        {% set newparameters = newparameters ~ " TARGET="~params.S %}
      {% endif %}
      SET_TOOL_TEMPERATURE{newparameters}
    {% else %}
      M104.1 {rawparams}
    {% endif %}

#####################################################################
#   M109
#####################################################################

[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
      {% set newparameters = "" %}
      {% set newparameters = newparameters ~ " T="~params.T %}
      {% if params.S is defined %}
        {% set newparameters = newparameters ~ " TARGET="~params.S %}
      {% endif %}
      SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
    {% else %}
      M109.1 {rawparams}
    {% endif %}

#####################################################################
#   M106
#####################################################################

[gcode_macro M106]
rename_existing: M106.1
description: Override "M106" to account for multiple extruders.
gcode:
    {% set raw_speed = params.S|default(255)|float %}
    {% set fan_speed = (raw_speed / 255.0)|round(2) %}
    {% set fan_tool = 0 if (printer.toolchanger.tool_number|string) == "-1" else printer.toolchanger.tool_number|string %}
    {% if (params.P) is defined %}
      {% set P_fan = "part_fan_t" + params.P|string %}
      SET_FAN_SPEED FAN={P_fan} SPEED={fan_speed}
    {% else %}
      SET_FAN_SPEED FAN="part_fan_t{fan_tool}" SPEED={fan_speed}
    {% endif %}

#####################################################################
#   M107
#####################################################################

[gcode_macro M107]
rename_existing: M107.1
description: Override "M107" to account for multiple extruders.
gcode:
    # If we specified a fan, turn it off
    {% if (params.P) is defined %}
      M106 S0 P{params.P}
    {% else %}
      # Otherwise, turn off all part cooling fans
      {% set num_tools = printer.toolchanger.tool_numbers|length|int %}
      # Loop through the tools.
      {% for i in range(num_tools) %}
        # Turn off the fans
        M106 S0 P{i}
      {% endfor %}
    {% endif %}

##
# Independently set tool offsets, usable without calling a tool change macro
##

[gcode_macro _SAVE_CURRENT_TWEAK]
description: Internal macro to capture the user baby-step before a tool change.
gcode:
  {% set svf = printer.save_variables.variables %}
  {% set hv = printer["gcode_macro homing_variables"] %}
  {% set current_gcode_z = printer.gcode_move.homing_origin.z|float %}
  {% set active_tool_in_offset = svf.current_tool|default(-1)|int %}

  # If just homed (0.0) or no tool loaded, tweak is 0
  {% if active_tool_in_offset < 0 or current_gcode_z == 0 %}
    {% set tweak = 0.0 %}
  {% else %}
    {% set system_baseline = hv.active_homed_z|default(0.0)|float %}
    {% set current_tool_z = svf['t' + active_tool_in_offset|string + '_offset_z']|default(0.0)|float %}
    {% set tweak = current_gcode_z - (system_baseline + current_tool_z) %}
  {% endif %}

  SET_GCODE_VARIABLE MACRO=homing_variables VARIABLE=last_user_tweak VALUE={tweak}
  RESPOND MSG="Tweak Captured: {tweak|round(3)}"

[gcode_macro APPLY_TOOL_OFFSETS]
description: Apply offsets using the buffered tweak.
gcode:
  {% set target_tool = params.TOOL|default(printer.toolchanger.tool_number)|int %}
  {% set svf = printer.save_variables.variables %}
  {% set hv = printer["gcode_macro homing_variables"] %}
  
  {% set system_baseline = hv.active_homed_z|default(0.0)|float %}
  {% set user_tweak = hv.last_user_tweak|default(0.0)|float %}
  
  {% set t_key = 't' + target_tool|string %}
  {% set tool_x = svf[t_key + '_offset_x']|default(0.0)|float|round(3) %}
  {% set tool_y = svf[t_key + '_offset_y']|default(0.0)|float|round(3) %}
  {% set tool_z = svf[t_key + '_offset_z']|default(0.0)|float|round(3) %}
  
  {% set final_z = system_baseline + tool_z + user_tweak %}
  
  RESPOND MSG="Applying T{target_tool}: Z={final_z|round(3)} (Base:{system_baseline} Tool:{tool_z} Tweak:{user_tweak|round(3)})"
  SET_GCODE_OFFSET X={tool_x} Y={tool_y} Z={final_z|round(3)} MOVE=1
  
  SAVE_VARIABLE VARIABLE=current_tool VALUE={target_tool}

[gcode_macro _SELECT_TOOL_WITH_OFFSETS]
gcode:
  {% set target_tool = params.TOOL|int %}
  
  # 1. Capture the baby-step BEFORE clearing offsets
  _SAVE_CURRENT_TWEAK
  
  # 2. Clear for transition
  SET_GCODE_OFFSET X=0 Y=0 Z=0 MOVE=0
  
  # 3. Physical switch
  SELECT_TOOL T={target_tool}
  
  # 4. Apply new tool offsets + captured tweak
  APPLY_TOOL_OFFSETS TOOL={target_tool}

  
##
# Debugging
## 
[gcode_macro DUMP_STATE]
gcode:
  {% set hv = printer["gcode_macro homing_variables"] %}
  {% set svf = printer.save_variables.variables %}  
  RESPOND MSG="toolhead.position={printer.toolhead.position}"
  RESPOND MSG="gcode_position={printer.gcode_move.gcode_position}"
  RESPOND MSG="speed_factor={printer.gcode_move.speed_factor}"
  RESPOND MSG="extrude_factor={printer.gcode_move.extrude_factor}"
  RESPOND MSG="homed_axes={printer.toolhead.homed_axes}"
  RESPOND MSG="t0_probe_z_offset={svf.t0_probe_z_offset}"
  RESPOND MSG="active_homed_z={hv.active_homed_z}"
        
  