[mcu EBBCan1]
# zeroandchange ebb36
#exploded lol
#canbus_uuid: e2b1cc6f7e9b
canbus_uuid: a23fb2164dff

[extruder1]
step_pin: EBBCan1: PD0
dir_pin: EBBCan1: PD1
enable_pin: !EBBCan1: PD2
microsteps: 16
#rotation_distance: 33.500
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan1: PB13
# sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan1: PA3
control: pid
pid_Kp: 23.020
pid_Ki: 10.231
pid_Kd: 12.949
min_temp: -200
max_temp: 290
# TODO why am I hitting this?
min_extrude_temp: 0
max_power: 0.7
pressure_advance: 0.025 #to be calibrated
pressure_advance_smooth_time: 0.03 #to be calibrated

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder1]
uart_pin: EBBCan1: PA15
run_current: 0.650
stealthchop_threshold: 999999

[heater_fan hotend_fan1]
pin: EBBCan1: PA1
heater: extruder1
heater_temp: 50.0

# Part cooling fan
[fan_generic part_fan_t1]
# On the side, by the heater
pin: EBBCan1: PA0   # "FAN1"
kick_start_time: 1.0

#####################################################################
#   gcode_macro T1
#####################################################################

[gcode_macro T1]
variable_color: ""
gcode:
  _SELECT_TOOL_WITH_OFFSETS TOOL=1
  
[tool T1]
tool_number: 1
extruder: extruder1
fan: part_fan_t1
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 116.00
params_detach_x: 100.0
#params_detach_x: 8

[tool_probe T1]
pin: EBBCan1: PB6
tool: 1
z_offset: 0
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.04
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder1

[temperature_sensor head1_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: EBBCan1
min_temp: 0
max_temp: 100