[mcu EBBCan0]
# zeroandchange ebb36
canbus_uuid: 08a26b1bae38

[extruder]
step_pin: EBBCan0: PD0
dir_pin: EBBCan0: PD1
enable_pin: !EBBCan0: PD2
microsteps: 16
#rotation_distance: 33.500
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan0: PB13
# sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan0: PA3
control: pid
pid_Kp: 23.020
pid_Ki: 10.231
pid_Kd: 12.949
min_temp: -200
max_temp: 290
# TODO why am I hitting this?
min_extrude_temp: 0
max_power: 0.7
pressure_advance: 0.025 #to be calibrated
pressure_advance_smooth_time: 0.03 #to be calibrated

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan0: PA15
run_current: 0.650
stealthchop_threshold: 999999

[heater_fan hotend_fan0]
pin: EBBCan0: PA1
heater: extruder
heater_temp: 50.0

# Part cooling fan
[fan_generic part_fan_t0]
# On the side, by the heater
pin: EBBCan0: PA0   # "FAN1"
kick_start_time: 1.0

#####################################################################
#   gcode_macro T0
#####################################################################

[gcode_macro T0]
variable_color: ""
gcode:
  _SELECT_TOOL_WITH_OFFSETS TOOL=0

[tool T0]
tool_number: 0
extruder: extruder
#fan: multi_fan T0_partfan
fan: part_fan_t0
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 6
params_detach_x: 22
#params_detach_x: 8

[tool_probe T0]
pin: EBBCan0: PB6
tool: 0
z_offset: 0
speed: 2.5
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.04
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

[temperature_sensor head0_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: EBBCan0
min_temp: 0
max_temp: 100